/*Configuración general*/
*{
    margin: o;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 90px 200px 0px;
}
/*Configuracion de la barra de navegacion*/
.header{
    background-color: whitesmoke;
    height: 120px;
    position: fixed; /*Fijar la posicion del navegador*/
    width: 100%;
    top: 0; /*ocupa todo el espacio en la pagina sin ningun desacople en la barra de navegacion*/
    left: 0;
}
/*Configurar el contenido de la barra de navegacion (version escritorio)*/
.navegador{
    display: flex;
    justify-content: space-between; /*El logo y el texto quedan espaciados */
    max-width: 992px; /*Breakpoint*/
    margin: 0 auto;
}
.link{
    color: #004AAD;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
/*Configuración del logo*/
.logo{
    align-items: center; /*Centrado verticalmente*/
    display: flex;
    height: 120px;
    padding: 0 40px; /*Separacion de 40 pixeles a la izquierda*/
}
/*Configuración del texto del navegador*/
.nav-menu{
    display: flex; /*Orientación horizontal*/
    margin-right: 40px; /*Separacion de 40 pixeles a la derecha*/
    list-style: none;
    align-items: center;/*Centrado verticalmente*/
}
.item{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 20px;
    width: max-content; /*No cortar el contenido aunque la pantalla se vea reducida*/

}
.link:hover{
    background-color:#004AAD;
    color: whitesmoke;
    transition: 1s;
}
/*Configuracion del icono de hamburguesa*/
.toggle{
    color: #004AAD;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*Configuracion para la version movil*/
@media(max-width: 768px){ /*Breakpoint para dispositivo movil*/
    body{
        padding: 80px 20px 0px;
    }
   .header{
        background-color: whitesmoke;
        height: 80px;
    }
    /*Configuración del logo*/
    .logo{
        height: 80px;
    }
    /*Configuración del texto del navegador*/
    .nav-menu{
        flex-direction: column;
        margin: 0px; /*No tendra margen de separacion superior e inferior*/
        background-color: whitesmoke;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0px;
        height: calc(100% - 80px);
        overflow-y: auto;/*En caso de que el dispositivo sea mas pequeño o la ventana se vea reducida, este comando permite ue el menu sea manipulable aun con la ventana reducida*/
        left: 100%; /*Desplaza el menu de la pantalla al 100% a la derecha*/
        transition: left 0.3s;
    }
    /*Configuracion de los items y texto del navegador (version movil)*/
    .item{
        line-height: 60px;
    }
    .link{
        padding: 8px 100px;
        border-radius: 3px;
    }
    /*Configuracion de la animacion del menu en version movil*/
    .link:hover{
        background-color: #004AAD;
        color: whitesmoke;
        transition: 0.5s;
    }
    /*Configuracion del icono de hamburguesa*/
    .toggle{
       display: block; 
    } 
    /*Configuración de la activacion del menu con el toggle*/
    .visible{
        left: 0;  
    }
}
