/*Configuración general*/
*{
    margin: o;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 130px 200px 0px;
}
/*Configuracion de la barra de navegacion*/
.header{
    background-color: whitesmoke;
    height: 120px;
    position: fixed; /*Fijar la posicion del navegador*/
    width: 100%;
    top: 0; /*ocupa todo el espacio en la pagina sin ningun desacople en la barra de navegacion*/
    left: 0;
}
/*Configurar el contenido de la barra de navegacion (version escritorio)*/
.navegador{
    display: flex;
    justify-content: space-between; /*El logo y el texto quedan espaciados */
    max-width: 992px; /*Breakpoint*/
    margin: 0 auto;
}
.link{
    color: #004AAD;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
/*Configuración del logo*/
.logo{
    align-items: center; /*Centrado verticalmente*/
    display: flex;
    height: 120px;
    padding: 0 40px; /*Separacion de 40 pixeles a la izquierda*/
}
/*Configuración del texto del navegador*/
.nav-menu{
    display: flex; /*Orientación horizontal*/
    margin-right: 40px; /*Separacion de 40 pixeles a la derecha*/
    list-style: none;
    align-items: center;/*Centrado verticalmente*/
}
.item{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 20px;
    width: max-content; /*No cortar el contenido aunque la pantalla se vea reducida*/

}
.link:hover{
    background-color:#004AAD;
    color: whitesmoke;
    transition: 1s;
}
/*Configuracion del icono de hamburguesa*/
.toggle{
    color: #004AAD;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*Configuracion para la version movil*/
@media(max-width: 768px){ /*Breakpoint para dispositivo movil*/
    body{
        padding: 80px 20px 0px;
    }
   .header{
        background-color: whitesmoke;
        height: 80px;
    }
    /*Configuración del logo*/
    .logo{
        height: 80px;
    }
    /*Configuración del texto del navegador*/
    .nav-menu{
        flex-direction: column;
        margin: 0px; /*No tendra margen de separacion superior e inferior*/
        background-color: whitesmoke;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0px;
        height: calc(100% - 80px);
        overflow-y: auto;/*En caso de que el dispositivo sea mas pequeño o la ventana se vea reducida, este comando permite ue el menu sea manipulable aun con la ventana reducida*/
        left: 100%; /*Desplaza el menu de la pantalla al 100% a la derecha*/
        transition: left 0.3s;
    }
    /*Configuracion de los items y texto del navegador (version movil)*/
    .item{
        line-height: 60px;
    }
    .link{
        padding: 8px 100px;
        border-radius: 3px;
    }
    /*Configuracion de la animacion del menu en version movil*/
    .link:hover{
        background-color: #004AAD;
        color: whitesmoke;
        transition: 0.5s;
    }
    /*Configuracion del icono de hamburguesa*/
    .toggle{
       display: block; 
    } 
    /*Configuración de la activacion del menu con el toggle*/
    .visible{
        left: 0;  
    }
}
/*////////////////////////////////////////////////////////*/
/*Configuración del carrusel de imagenes*/
.slider{
    width: 75%; /*Abarcará un ancho del 75%*/
    overflow: hidden;
    display: block;/*Al tratarse de una imagen, esta debe considerarse como un bloque*/
    margin: auto;/*Centrado*/
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 30s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
/*Desplazamiento de imagenes*/
@keyframes cambio{
    0% {margin-left: 0;}
    21.25% {margin-left: 0;}

    26.25% {margin-left: -100%;}
    47.50% {margin-left: -100%;}

    52.50% {margin-left: -200%;}
    73.75% {margin-left: -200%;}

    78.75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
hr{
    height: 2px;
    background: #004AAD;
    
}
/*////////////////////////////////////////////////////////*/
/*Configuración del píe de pagina*/
.footer{
    height: 180px;
    width: 100%;
    color:#004AAD;
}
/*Acomodo y confirguracion de las columnas que conforma el pie de página*/
.sup-foot{
    display:flex;
    width: 100%;
}
/*///////////////////*/
.cont-info{
    width: 40%;
    margin: auto;
    
}
.cont-info h1{
    font-size: 18px;
}
.cont-info p{
    font-size: 12px;
    margin-top: 10px;
}
/*///////////////////*/
.cont-social{
    width: 25%;
    margin: auto;
}
.cont-social h1{
    font-size: 18px;
}
.cont-social .cont-icon{
   margin-top: 5px; 
   display: flex;
}
.cont-social .cont-icon img{
    width: 20px;
    height: 20px;
}
.cont-social .cont-icon label{
    font-size: 12px;
    margin-top: 4px;
    margin-left: 10px;
}
/*//////////////////////*/
.cont-contact{
    width: 25%;
    margin: auto;
}
.cont-contact h1{
    font-size: 18px;
}
.cont-contact .cont-iconos{
    margin-top: 5px;
    display: flex;
}
.cont-contact .cont-iconos img{
    width: 20px;
    height: 20px;
}
.cont-contact .cont-iconos label{
    font-size: 10px;
    margin-top: 1px;
    margin-left: 10px;
}
/*///////////////////////*/
.inferior-foot{
    text-align: center;
    margin: 20px;
    flex-direction: column;
}

.inferior-foot .copyright p{
    background-color: azure;
    font-size: 10px;

    
}
.inferior-foot .created a{
    background-color: aliceblue;
    font-size: 10px;
    text-decoration: none;
   
}
/*Configuracion para la version Movil*/
@media(max-width: 768px){
    .footer{
        height: 120px;
        width: 100%;
        color:#004AAD;
    }
    /*Acomodo y confirguracion de las columnas que conforma el pie de página*/
    .sup-foot{
        display:flex;
        width: 100%;
    }
    /*///////////////////*/
    .cont-info{
        width: 40%;
        margin: auto;
        
    }
    .cont-info h1{
        display: none;
    }
    .cont-info p{
        font-size: 10px;
        margin-top: 10px;
    }
    /*///////////////////*/
    .cont-social{
        display: flex;
        justify-content:center;
    }
    .cont-social h1{
        display: none;
    }
    .cont-social .cont-icon img{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .cont-social .cont-icon label{
        display: none;
    }
    /*//////////////////////*/
    .cont-contact h1{
        font-size: 16px;
        display: none;
    }
    
    .cont-contact .cont-iconos img{
        width: 15px;
        height: 15px;
    }
    .cont-contact .cont-iconos label{
        font-size: 8px;
        margin-top: 2px;
    }
    /*///////////////////////*/
    .inferior-foot{
        text-align: center;
        margin: auto;
    }
    .inferior-foot .copyright p{
        font-size: 8px;
    }
    .inferior-foot .created a{
        font-size: 8px;
        text-decoration: none;
    }
}

/*Sección de Configuración del menú*/ 
.menu_principal{
    background-color: whitesmoke;
    color: #004AAD;
    font-family: 'Calibri';
    text-align: center;
    padding-top: 20px;
    height: 120px;
    position: fixed; /*Fijar la posicion del navegador*/
    width: 100%;
    top: 0; /*ocupa todo el espacio en la pagina sin ningun desacople en la barra de navegacion*/
    left: 0;
}
.menu_principal hr{
    border: 0 ; 
    border-top: 1px double blue; 
    width: 69%;
}
/*Configuración de las secciones del menu*/
.test{
    font-size: 20px;
    font-family: Calibri;
    letter-spacing: 10px;
    background-color: #004AAD;
    color: whitesmoke;
    text-align: center;
}
/*Configuración de los contenedores, texto e imagenes que conforma el menú*/
.contenedor{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.contenedor .tarjeta{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0, 74, 173);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: whitesmoke;
}
.contenedor .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 74, 173);
}
.contenedor .tarjeta img{
    width: 330px;
    height: 220px;
}
.contenedor .tarjeta h4{
    font-weight: 600;
    letter-spacing: 5px;
    color:rgb(0, 74, 173);
}
.contenedor .tarjeta p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300px;
}
/*Version movil*/
@media(max-width: 768px){ /*Breakpoint para dispositivo movil*/
   .menu_principal{
        font-size: 14px;
        height: 80px;
        padding-top: 4px;
    }
}
/*Configuracion del formalario para el pedido*/
.cont-test{
    width: 80%;
    height: 400px;
    margin: 0 auto;
}
.cont-test .Datos input{
    width: 100%;
    border: none;
}
.cont-test .Datos hr{
    margin-top: -10px;
    background-color: #004AAD;
    border: 2px;
}
.cont-test .personalizar{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.cont-test .pedir{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.cont-test .personalizar label{
    font-size: 14px;
    color:grey;
}
.cont-test .personalizar select{
    background-color: whitesmoke;
    border-color: #004AAD;
    color:#004AAD;
    padding: 10px;
    width: 80%;
}
.cont-test .pedir label{
    font-size: 14px;
    color: gray;
}
.cont-test .pedir input{
    background-color: whitesmoke;
    border-color: #004AAD;
    color: #004AAD;
    padding: 10px;
    width: 80%;
}
.contenido-test{
    display: flex;
}
button {
    font-size: 14px;
    background:#004AAD;
    color: #fff;
    border: 0.25rem solid #004AAD;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position:relative;
    z-index: 1;
    overflow: hidden;
    margin-top: -20px;
  }
  button:hover {
    color:#004AAD;
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.pedirlo{
    font-size: 16;
    text-decoration: none;
    color: #004AAD;
}